<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.task.mapper.PlanCategoryMapper">

    <resultMap type="com.life.task.pojo.PlanCategory" id="PlanCategoryResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <insert id="insertBatch"
            parameterType="java.util.List">
        insert into `plan_category`
        (`id`,`user_id`,`name`,`create_time`,`update_time`,`is_delete`)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{planCategory.id},
            #{planCategory.userId},
            #{planCategory.name},
            #{planCategory.createTime},
            #{planCategory.updateTime},
            #{planCategory.isDelete}
            )
        </foreach>

    </insert>

</mapper>
